@use '../../../styles/variables.scss' as var;

.form {
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var.$clr-blue;
  color: #fff;
  border-radius: 5px;
  box-shadow: var.$shadow-dark;

  & h1 {
    font-size: var.$fs-450;
  }
}
