@use '../../../styles/variables.scss' as var;

.input {
  width: 15rem;
  height: 2rem;
  padding-inline: 0.5rem;
  border: none;
  border-radius: 5px;

  &:focus {
    outline: none;
    border: 2px solid darken(var.$clr-blue, 15%);
  }
}
