@use '../../../styles/variables.scss' as var;

.card {
  width: auto;
  margin-block: 1rem;
  display: flex;
  border-radius: 5px;
  box-shadow: var.$shadow-blue;

  & h3 {
    margin-bottom: 1rem;
    padding-inline: 1rem;
    font-size: var.$fs-400;
  }

  & p {
    text-align: justify;
    padding-inline: 1rem;
    font-size: var.$fs-200;
  }
}
