@use '../../styles/variables.scss' as var;

.shows {
  width: 40rem;
  text-align: center;

  & thead tr {
    background: var.$clr-blue;
    color: #fff;
    font-weight: 700;
  }

  & tbody tr td {
    background: var.$clr-light-blue;
  }

  & tr td {
    padding-block: 0.5rem;
  }
}
